Source: liboptimizers2-sharp
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
			   cdbs,
			   pkg-config,
			   mono-devel | mono-gmcs,
			   liboptimization2-sharp (>= 2.9)
Standards-Version: 3.8.0
Section: libs
Homepage: http://birg.epfl.ch

Package: liboptimizers2-sharp
Section: libs
Architecture: any
Depends: mono-runtime, libmono-system2.0-cil, libmono-corlib2.0-cil, libmono2.0-cil
Description: Optimization framework optimizers
 Optimizers for the optimization framework
